header nav ul p{    
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    text-align: right;
}

body{    
    background: #404040;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: aliceblue;
    text-align: center;
    font-weight: auto;
    
}

.imagen{
    display: block;    
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}